<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.shadow.kotlin">

    <application>
        <activity android:name="com.shadow.base.ui.activity.BaseActivity" />
        <activity android:name="com.shadow.base.ui.activity.BaseMvpActivity"></activity>
    </application>

</manifest>